.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
  font-size: 22px;
}
