@import '../../styles/utils/variables';

.pagination {
  display: flex;

  &__item {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: center;
    color: $color-white;
    background-color: $color-surface1;
    border: 0px;

    &:hover {
      background-color: $color-elements;
    }
  }

  &__item.selected {
    background-color: $color-accent;
  }

  &__item-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-right: 15px;
    padding: 0;
    background-color: $color-surface2;
    border: 0px;

    &:hover {
      background-color: $color-icons;
    }

    &:last-child {
      margin-left: 10px;
      margin-right: 0px;
    }
  }

  &__item-arrow.disabledLeft {
    background-color: $color-surface1;
    border: 1px solid $color-elements;
  }

  &__item-arrow.disabledRight {
    background-color: $color-surface1;
    border: 1px solid $color-elements;
  }
}



