@import '../../styles/utils/variables';

.spinner {
  border: 4px solid rgba(59, 63, 77, 0.24);
  border-top: 4px solid $color-accent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  padding: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
