@import '../../styles/utils/variables';

.btnClose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  border: 1px solid $color-elements;
  border-radius: 3px;
  background-color: transparent;
  transition: border $effectDuration;

  &:hover {
    border-color: $color-secondary;
  }
}
