@import '../../styles/utils/breakpoints';
@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';
@import '../../styles/utils/extends';

.categories {
  &__products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    @include onTablet {
      flex-direction: row;
      gap: 16px;
    }
  }

  &__photo {
    width: 288px;
    margin-bottom: 24px;
    transition: transform $effectDuration;

    @include onTablet {
      width: 187px;
    }

    @include onDesktop {
      width: 368px;
    }

    &:hover {
      transform: $effectScaleBtn;
    }
  }

  &__title {
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 700;
  }

  &__amount {
    color: $color-secondary;
  }
}
