@import '../../styles/utils/variables';
@import '../../styles/utils/breakpoints';

.about {
  &__title {
    padding-block-end: 16px;
    margin-block-end: 30px;
    color: $color-white;
    font-size: 20px;
    font-weight: 700;
    border-block-end: 1px solid $color-elements;

    @include onTablet {
      font-size: 22px;
      line-height: 140%;
      margin-block-end: 25px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__info-block {
  }

  &__info-title {
    color: $color-white;
    font-size: 16px;
    font-weight: 700;
    margin-block-end: 16px;
  }

  &__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__paragraphItem {
    font-weight: 600;
    line-height: 150%;
    color: $color-secondary;
  }
}
