@import '../../styles/utils/breakpoints';
@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  padding: 32px;
  gap: 8px;
  border: 1px solid transparent;
  background-color: $color-surface1;
  transition: box-shadow, border $effectDuration;

  &:hover {
    border: 1px solid $color-surface2;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
  }

  &__title {
    min-height: 42px;
    color: $color-white;
    font-weight: 600;
    line-height: 21px;
  }

  &__photo {
    display: flex;
    margin: 0 0;
    margin-bottom: 16px;
    max-width: 208px;
    max-height: 196px;
    object-fit: contain;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 22px;
    font-weight: 700;
    line-height: 140%;

    &__old {
      color: $color-secondary;
      font-size: 22px;
      font-weight: 600;
      text-decoration-line: line-through;
    }
  }

  &__line {
    height: 1px;
    width: 100%;
    background-color: $color-elements;
  }

  &__details {
    display: flex;
    margin-block: 8px;
    flex-direction: column;
    gap: 8px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    gap: 8px;
  }
}

.detail {
  display: flex;
  justify-content: space-between;
}

.detailTitle {
  color: $color-secondary;
}

.detailValue {
  color: $color-white;
}
