.bannerItem {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    background-color: red;
  }
}
