@import '../../styles/utils/breakpoints';
@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.logo {
  position: relative;

  &__link {
    display: flex;
    align-items: center;
  }

  &__text {
    width: 89px;
    height: 32px;
  }
}
