@import 'src/styles/utils/variables';
@import 'src/styles/utils/breakpoints';
@import 'src/styles/utils/mixins';

.favourites {
  padding-block-start: 24px;
  padding-block-end: 56px;

  @include onTablet {
    padding-block-end: 64px;
  }

  @include onDesktop {
    padding-block-end: 80px;
  }

  &__breadCrumbs {
    margin-block-end: 24px;

    @include onTablet {
      margin-block-end: 40px;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: -0.32px;
    color: $color-white;
  }

  &__count {
    margin-block-end: 32px;
    color: $color-secondary;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;

    @include onTablet {
      margin-block-end: 40px;
    }
  }

  &__cards {
    display: grid;
    gap: 16px;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  &__card {
    box-sizing: border-box;
    width: 287px;
    height: 100%;

    @include onTablet {
      width: 288px;
    }

    @include onDesktop {
      width: 272px;
    }
  }
}
