@import "src/styles/utils/variables";
@import "src/styles/utils/breakpoints";
@import "src/styles/utils/mixins";

body {
  margin: 0;
  font-family: $font-family;
   background-color: $color-dark;
}
.container {
  @include contentPaddingInline;
   padding-bottom: 80px;
 }

//-----------------remove later -------------
.cardsGridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, max(300px));
  gap: 16px;
  justify-content: flex-start;
}

.card {
  width: 100%;
  height: 440px;
  box-sizing: border-box;
  background-color: $color-secondary;

  @include onTablet {
    height: 506px;
  }
  @include onDesktop {
    height: 506px;
  }
}
// ----------------------------------------------

.contentHeader {
  width: 100%;
  padding-bottom: 32px;

  @include onTablet {
    padding-bottom: 40px;
  }
}

.contentHeader__itemsCount {
  color: $color-secondary;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px
}

.contentHeader__title {
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 8px;
  color: $color-white;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -0.32px;
  text-align: left;

  @include onTablet {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.48px;
  }

  @include onDesktop {
    line-height: 56px;
    letter-spacing: -0.48px;
  }
}


