@import '/src/styles/utils/mixins';
@import '/src/styles/utils/variables';

.nav {
  display: flex;

  &__item {
    &:active {
      color: $white;
      border-bottom: 3px solid $white;
    }
  }

  &__list {
    display: none;
    margin-left: 16px;

    @include onTablet {
      display: flex;
      width: 330px;
      justify-content: space-between;
      list-style: none;
      text-transform: uppercase;
    }

    @include onDesktop {
      margin-left: 24px;
      width: 425px;
    }
  }

  &__link {
    display: block;
    height: $headers-height;

    font-size: 12px;
    font-family: "Mont", sans-serif;
    font-weight: bold;

    text-decoration: none;
    line-height: $headers-height;
    color: $gray-secondary;

    &:hover {
      color: $white;
    }

    @include onDesktop {
      height: $headers-height-desctop;
      line-height: $headers-height-desctop;
    }
  }
}