@import './breakpoints';

%gridPage {
  --cols-count: 4;
  display: grid;
  grid-template-columns: repeat(var(--cols-count), 1fr);
  column-gap: 16px;

  @include onTablet {
    --cols-count: 12;
  }

  @include onDesktop {
    --cols-count: 24;
  }
}
