// need to load files in fonts folder and connect them via src
// @font-face {
//   font-family: 'Mont';
//   font-style: normal;
//   font-weight: 400;
//   src: url('');
// }

// @font-face {
//   font-family: 'Mont';
//   font-style: normal;
//   font-weight: 600;
//   src: url('');
// }

// @font-face {
//   font-family: 'Mont';
//   font-style: normal;
//   font-weight: 700;
//   src: url('');
// }

// @font-face {
//   font-family: 'Mont';
//   font-style: normal;
//   font-weight: 800;
//   src: url('');
// }