$desktop-min-width: 1200px;
$tablet-min-width: 640px;
$mobile-min-width: 320px;

$font-family: 'Mont', sans-serif;

$color-dark: #0f1121;
$color-white: #f1f2f9;
$color-surface1: #161827;
$color-surface2: #323542;
$color-elements: #3b3e4a;
$color-icons: #4a4d58;
$color-secondary: #75767f;
$color-red: #eb5757;
$color-green: #27ae60;
$color-accent: #905bff;

$effectDuration: 0.3s ease;
