$desktop-min-width: 1200px;
$tablet-min-width: 640px;
$mobile-min-width: 320px;

$headers-height: 48px;
$headers-height-desctop: 64px;

$white: #f1f2f9;
$gray-secondary: #89939a;
$bg-color: #0F1121;
$shadow: #e2e6e9;