@import '../../styles/utils/variables';
@import '../../styles/utils/breakpoints';
@import '../../styles/utils/extends';

.cart {
  padding-block: 24px;

  @include onTablet {
    padding-block: 40px;
  }

  &__btnBack {
    display: flex;
    align-items: center;
    margin-block-end: 24px;
    font-size: 12px;
    font-weight: 700;
    color: $color-white;
    transition: color $effectDuration;

    &:hover {
      color: $color-secondary;
    }

    @include onTablet {
      margin-block-end: 16px;
    }
  }
  &__title {
    margin-block-end: 32px;
    font-size: 32px;
    font-weight: 700;
    line-height: 128%;
    letter-spacing: -0.32px;
  }

  &__content {
    @extend %gridPage;
    gap: 32px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-column: 1/-1;

    @include onDesktop {
      grid-column: span 16;
    }
  }

  &__checkout {
    grid-column: 1/-1;
    height: max-content;
    padding: 24px;
    text-align: center;
    border: 1px solid $color-elements;

    @include onDesktop {
      grid-column: span 8;
    }
  }

  &__sum {
    font-size: 32px;
    font-weight: 700;
    line-height: 128%;
    letter-spacing: -0.32px;
  }

  &__count {
    margin-block-end: 16px;
    font-weight: 600;
    line-height: 150%;
    color: $color-secondary;
  }

  &__decor {
    height: 1px;
    margin-block-end: 16px;
    background-color: $color-elements;
  }

  &__checkoutBtn {
    display: block;
    width: 100%;
    height: 48px;
    background-color: $color-accent;
    color: $color-white;
    font-weight: 700;
    line-height: 150%;
    border: none;
    transition:
      background-color $effectDuration,
      transform $effectDuration;

    &:hover {
      background-color: $color-accent-light;
    }

    &:active {
      transform: $effectScaleBtn;
    }
  }
}
