@import '../../../styles/utils/breakpoints';
@import '../../../styles/utils/variables';
@import '../../../styles/utils/mixins';

.addToCart {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  height: 40px;
  border: 1px solid transparent;
  align-items: center;
  font-family: inherit;
  font-size: 14px;
  color: $color-white;
  background-color: $color-accent;
  transition:
    background-color $effectDuration,
    transform $effectDuration;
  cursor: pointer;

  &:hover {
    background-color: $color-accent-light;
  }

  &:active {
    transform: $effectScaleBtn;
  }

  &--active {
    background-color: $color-elements;

    &:hover {
      background-color: $color-elements;
    }
  }
}
