@import '../../styles/utils/breakpoints';
@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

iframe {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: $headers-height;

  border-bottom: solid 1px $shadow;

  background-color: $color-dark;

  &__left {
    display: flex;
    justify-content: flex-start;
  }

  @include onDesktop {
    height: $headers-height-desctop;
  }
}
