@import '../../styles/utils/variables';
@import '../../styles/utils/breakpoints';

.accessories {
  &__title {
    margin-bottom: 5px;
    box-sizing: border-box;
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    color: $color-white;
  }

  &__model {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 21px;
    color: $color-secondary;
  }

  &__select__block {
    display: flex;
    margin-bottom: 20px;
  }

  &__select__item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__cards {
    display: grid;
    gap: 30px;
    margin-bottom: 30px;

    @include onTablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include onDesktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__card {
    box-sizing: border-box;
    width: 287px;
    height: 440px;
    border: 2px solid white;

    @include onTablet {
      width: 288px;
      height: 506px;
    }

    @include onDesktop {
      width: 272px;
      height: 506px;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
}
