@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.burger {
  position: absolute;
  top: 48px;
  right: 0;

  width: 100vw;

  padding-top: 24px;

  z-index: 300;

  border-left: solid 1px $color-white;
  border-bottom: solid 1px $color-white;

  @include onTablet {
    display: none;
  }

  &__nav {
    display: flex;
    flex-direction: column;

    margin-bottom: 50%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;

    list-style: none;

    text-transform: uppercase;
  }

  &__link {
    display: block;
    height: 27px;

    width: max-content;
    margin-bottom: 16px;

    font-size: 12px;
    font-family: 'Mont', sans-serif;
    font-weight: bold;

    text-decoration: none;

    line-height: 27px;

    color: $color-secondary;

    &:hover {
      color: $color-icons;
    }
  }

  &__link.is-active {
    color: $color-icons;

    border-bottom: 3px solid $color-icons;
  }

  &__buttons {
    display: flex;
    flex-direction: row;

    min-width: 320px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 64px;

    border: solid 1px $color-white;

    &:hover {
      border-color: $color-icons;
    }
  }

  &__icon.active,
  &__icon.is-active {
    border-bottom: 3px solid $color-icons;
  }
}
