@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';

.burger {
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  position: absolute;
  // position: fixed;
  // inset-block-start: 0;
  // inset-inline: 0;
  top: 48px;
  right: 0;
  bottom: 0;
  background-color: $color-dark;

  // transform: translateX(-150%);

  width: 100vw;
  height: 100vh;

  // transition: transform $effectDuration;

  padding-top: 24px;

  z-index: 300;

  border-left: solid 1px $color-white;
  border-bottom: solid 1px $color-white;

  // &:target {
  //   transform: translateX(0);
  // }

  @include onTablet {
    display: none;
  }

  &__nav {
    display: flex;
    flex-direction: column;

    margin-bottom: 50%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;

    list-style: none;

    text-transform: uppercase;
  }

  &__link {
    display: block;
    height: 27px;

    width: max-content;
    margin-bottom: 16px;

    font-size: 12px;
    font-family: 'Mont', sans-serif;
    font-weight: bold;

    text-decoration: none;

    line-height: 27px;

    color: $color-secondary;

    &:hover {
      color: $color-icons;
    }
  }

  &__link.is-active {
    color: $color-white;

    border-bottom: 3px solid $color-white;
  }

  &__buttons {
    display: flex;
    flex-direction: row;

    min-width: 320px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 64px;

    border: solid 1px $color-elements;

  }

  &__icon.active,
  &__icon.is-active {
    border-bottom: 3px solid $color-white;
  }
}
