@import '../../styles/utils/variables';
@import '../../styles/utils/breakpoints';

.cartModal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-x: hidden;

  &__content {
    position: relative;
    width: 400px;
    height: max-content;
    padding: 70px 50px;

    background-color: $color-dark;
    border-radius: 15px;
    -webkit-box-shadow: 2px 4px 18px -3px rgba(241, 242, 249, 0.11);
    -moz-box-shadow: 2px 4px 18px -3px rgba(241, 242, 249, 0.11);
    box-shadow: 2px 4px 18px -3px rgba(241, 242, 249, 0.11);
  }

  &__backBtn {
    position: absolute;
    display: block;
    top: 25px;
    right: 25px;
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 700;
    line-height: 128%;
    letter-spacing: -0.32px;
  }

  &__orderNumber,
  &__orderDate {
    margin-bottom: 10px;
    color: $color-secondary;
    font-size: 15px;
  }

  &__orderDate {
    margin-bottom: 0px;
  }
}
