@import '../../styles/utils/variables';

.btnBack {
  display: flex;
  align-items: center;
  width: max-content;
  font-size: 12px;
  font-weight: 700;
  color: $color-white;
  transition: color $effectDuration;
  background-color: transparent;
  border: none;

  &:hover {
    color: $color-accent;

    #arrowBackBtn {
      fill: $color-accent;
    }
  }
}

#arrowBackBtn {
  transition: fill $effectDuration;
}
